body {
    background: url("../img/230224150612-03-body-best-beaches-world-tripadvisor-2023-radhanagar-beach.jpg") no-repeat center center fixed;
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}